{% extends "wrapper.html" %}

{% block title %} Актеры {% endblock %}

{% block content %}
    {% load static %}
<!-- Modal -->
<div class="modal fade" id="choose_role" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <form method="post" action="{% url 'actors' %}">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Choose the role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <select name="role_id" class="form-control" id="exampleFormControlSelect1">
                {% for role in roles %}
              <option value="{{role.id}}">{{ role }}</option>
                {% endfor %}
            </select>
        <input type="hidden" id="actor_id" name="actor_id" value="popa">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"   > Invite </button>
      </div>

    </form>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
    <div id="actors" class="col-md-8"   style="background-image: url('{% static 'svg/req_rect.svg' %}')">
        <center><h1>Search actors</h1></center><br>
        <div id="filter">

    <form method="GET" action="{% url 'actors' %}" class="form-inline">
        {% csrf_token %}
{#        {{ filter.form }}#}
        {% for field in filter.form %}
            <div class="form-group mr-2">
            <label>{{ field.label }}</label>
            {{ field }}
            </div>
        {% endfor %}
    <button class="btn btn-secondary" type="submit">Search</button>
    </form>
        </div>
    <div class="d-flex flex-column mt-5">
    {% for actor in actors %}
        <div class="d-flex m-2">
        <p><a href="{% url 'actor_profile' actor_id=actor.id %}">{{ actor }}</a></p>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#choose_role" id="invite_{{ actor.id }}">
            Invite
        </button>
        </div>
                        <script type="text/javascript">
                            $("#invite_{{ actor.id }}").click(function () {
                                document.getElementById('actor_id').value = {{ actor.id }}
                    });
                        </script>

    {% endfor %}
    </div>
        </div>
        </div>

        </div>
{% endblock %}