{% extends "wrapper.html" %}

{% block title %} GetActed {% endblock %}

{% block content %}
    {% load static %}

    <div id="div1" class="container-fluid" style="background-image: url('{% static 'images/about_us.png' %}');">
        <div class="row justify-content-end h-100">
            <div class="col-md-6 my-auto">
                <h1 id="div1-text-head" class="text-center">Get your cast right now</h1><br><br>
                <p id="div1-text" class="text-left"><bold>GetActed</bold> offers access to wide range of actors and available roles that suit you.</p>
            </div>
        </div>
    </div>

    <div id="div2" class="container-fluid">
        <div class="row justify-content-start h-50">
            <div class="col-md-8 my-auto" >
                <h1>For film companies</h1> <br>
                <p>Find the right actor for your scenario by sorting by criteria.</p>
            </div>

        </div>
        <div class="row h-50">
            <div class="col-md-6 my-auto">
                <div class="d-flex justify-content-center">
                <img src="{% static 'images/ticket.png' %}" style="width: 60%">
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <h1>For actors</h1> <br>
                <p>Get your first role, send applications directly to film companies only for ads that are right for you.
                    No need to read tons of emails on different websites. </p>
            </div>
        </div>
    </div>

    <div id="div3"  class="container-fluid" style="background-image: url('{% static 'images/div3.png' %}');">
        <div class="row justify-content-start h-100">
            <div class="col-md-6 my-auto">
                <h1 id="div3-text-head" class="text-center">Distinguishing features of GetActed</h1><br>
                <p id="div3-text" class="text-left">It's a two-way job. Both actors and film companies can send applications to each other.
    <br><br>
All suitable ads in one place</p>
            </div>
        </div>
    </div>

    <div id="div4" class="container-fluid">
    <div class="row h-100">
        <div class="col-md-12 h-100">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <button id="join-us" class="btn" type = "button" onclick="location.href='signup'">
                    Join us
                </button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}