{% extends "wrapper.html" %}

{% block title %} GetActed {% endblock %}

{% block content %}
    {% load static %}

    <div id="div1" class="container-fluid" style="background-image: url('{% static 'images/about_us.png' %}');">
        <div class="row justify-content-end h-100">
            <div class="col-md-6 my-auto">
                <h1 id="div1-text-head" class="text-center">About us</h1><br><br>
                <p id="div1-text" class="text-left">At vero eos et accusamus et iusto odio dignissimos ducimus, quia voluptas sit,
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ration</p>
            </div>
        </div>
    </div>

    <div id="div2" class="container-fluid">
        <div class="row justify-content-start h-50">
            <div class="col-md-8 my-auto" >
                <h1>Lorem ipsum dolor sit</h1> <br>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque
                    ipsa, velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

        </div>
        <div class="row h-50">
            <div class="col-md-6 my-auto">
                <div class="d-flex justify-content-center">
                <img src="{% static 'images/ticket.png' %}" style="width: 60%">
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <h1>Lorem ipsum dolor sit</h1> <br>
                <p>Excepteur sint occaecat cupidatat non proident, quis nostrum exercitationem ullam corporis suscipit
                    laboriosam, qui dolorem eum fugiat, quo voluptas nulla pariatur. At vero eos et accusamus et iusto
                    odi</p>
            </div>
        </div>
    </div>

    <div id="div3"  class="container-fluid" style="background-image: url('{% static 'images/div3.png' %}');">
        <div class="row justify-content-start h-100">
            <div class="col-md-6 my-auto">
                <h1 id="div3-text-head" class="text-center">Itaque earum rerum</h1><br>
                <p id="div3-text" class="text-left">At vero eos et accusamus et iusto odio dignissimos ducimus, quia voluptas sit,
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ration</p>
            </div>
        </div>
    </div>

    <div id="div4" class="container-fluid">
    <div class="row h-100">
        <div class="col-md-12 h-100">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <button id="join-us" class="btn" type = "button" onclick="location.href='signup'">
                    Join us
                </button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}