{% extends "wrapper.html" %}

{% block title %} Роли {% endblock %}

{% block content %}
    <form method="GET" action="{% url 'roles' %}" class="form-inline">
        {% csrf_token %}
        {{ filter.form }}
    <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% for role in roles %}
        <div class="d-flex">
            <p>{{ role }}</p>
            <form method="POST" action="{% url 'roles' %}">
                {% csrf_token %}
                <input type="hidden" name="actor_id" value="{{ user.actor.id }}">
                <input type="hidden" name="role_id" value="{{role.id}}">
        <button type="submit" class="btn btn-primary">
            Send a request
        </button>
            </form>
        </div>

    {% endfor %}
{% endblock %}