#navbar {
    background-color: #141414;
    height: 85px;
}

#navbar a {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#div1 {
    background-size: 100% 100%;
    height: 700px;
}

#div2 {
    height: 600px;
    padding: 60px;
}

#div3 {
    background-size: 100% 100%;
    height: 700px;
    padding: 60px;
}

#div4 {
    height: 300px;
}

#join-us {
    background-color: #141414;
    color: white;
    border-radius: 223px;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.register_btn {

    background-color: #141414;
    color: white;
    border-radius: 223px;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

#div1-text-head {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 500;
font-size: 96px;
line-height: 115px;

color: #FFFFFF;

}
#div1-text {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;
}

#div2 h1{
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
}

#div2 p {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

color: #000000;
}

#div3-text-head {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;

}
#div3-text {
    font-family: Minion Pro, serif;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 58px;

color: #FFFFFF;
}

